extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  br

  form(name="properties", method="get", action="/properties")
    div.actions
      input(type="submit", name="Properties", value="View Properties")
