extends layout

block content
  h3.
    Properties
  ul
    each property, i in propertylist
      li#property_list_item
        a(href="#") Name: #{property.name},
        #{property.location}  
        price: £#{property.price}
        description: #{property.description}
